CourseApi.Data/bin/
CourseApi.Data/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
CourseApi.Data/obj/Debug/
CourseCore/bin/
CourseCore/obj/
CourseTest/bin/Debug/
CourseTest/obj/
CourseWebApi/bin/
CourseWebApi/obj/Debug/
